@page "/update-issue"
@model TaskMaster.Web.Pages.ProjectIssue.UpdateIssueModel


<div class="row justify-content-center">
    <div class="card">
        <div class="card-title text-center display-6 mt-2">Update Issue</div>
        <hr />
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="UpdateIssue.Id"  />
                <div class="col-4 form-group p-1">
                    <div class="form-check form-switch form-group">
                        <input class="form-check-input" asp-for="UpdateIssue.IsActive" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        @if (Model.UpdateIssue.IsActive == true)
                        {
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        }
                        else
                        {
                            <label class="form-check-label" for="flexSwitchCheckDefault">Passive</label>
                        }
                    </div>
                </div>

                <div class="col-12 form-group p-1">
                    <span class="text-primary"> Title</span>
                    <input asp-for="UpdateIssue.Summary" type="text" class="form-control mt-1">
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="col-6 form-group p-1">
                        <span class="text-primary"> Priority</span>
                        <select asp-for="UpdateIssue.PriorityLevel" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.PriorityLevelDto>()" class="mt-1 form-control form-select">
                            <option value="">Choose..</option>
                        </select>
                    </div>
                    <div class="col-6 form-group p-1">
                        <span class="text-primary"> Resolution</span>
                        <select asp-for="UpdateIssue.ResolutionStatus" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.ResolutionStatusDto>()" class="mt-1 form-control form-select">
                            <option value="">Choose..</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="col-4 p-1">
                        <span class="text-primary"> Starting</span>
                        <input type="date" class="form-control mt-1" asp-for="UpdateIssue.StartingDate">
                    </div>
                </div>
                <div class="col-12 form-group p-1">
                    <span class="text-primary"> Comment</span>
                    <textarea class="form-control mt-1" asp-for="UpdateIssue.Comment" rows="3"></textarea>
                </div>
                <div class="col-12 btn-group my-3">
                    <button type="submit" class="btn btn-success btn-sm text-black"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-page="/ProjectIssue/GetProjectIssues" asp-route-id="@Model.ProjectId" class="btn btn-warning btn-sm mx-3"><i class="fa-solid fa-ban"></i><span> Cancel</span></a>
                </div>
            </form>
        </div>
    </div>
</div>
