@page "/update-task"
@model TaskMaster.Web.Pages.ProjectTask.UpdateTaskModel


<div class="row justify-content-center">
    <div class="card">
        <div class="card-title text-center display-6">Update Task</div>
        <div class="card-body">
            <form method="post">
                <input type="hidden" asp-for="UpdateTask.Id" />
                <div class="col-4 form-group p-1">
                    <div class="form-check form-switch form-group">
                        <input class="form-check-input" asp-for="UpdateTask.IsActive" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        @if (Model.UpdateTask.IsActive == true)
                        {
                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                        }
                        else
                        {
                            <label class="form-check-label" for="flexSwitchCheckDefault">Passive</label>
                        }
                    </div>
                </div>

                <div class="col-12 form-group p-1">
                    <span class="text-primary"> Title</span>
                    <input asp-for="UpdateTask.Title" type="text" class="form-control mt-1">
                </div>
                <div class="col-12 form-group p-1">
                    <span class="text-primary"> Description</span>
                    <textarea class="form-control mt-1" asp-for="UpdateTask.Description" rows="3"></textarea>
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="col-6 form-group p-1">
                        <span class="text-primary"> Status</span>
                        <select asp-for="UpdateTask.TaskStatus" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.TaskStatusDto>()" class="form-control form-select mt-1">
                            <option value="">Choose..</option>
                        </select>
                    </div>
                    <div class="col-6 form-group p-1">
                        <span class="text-primary"> Priority</span>
                        <select asp-for="UpdateTask.PriorityLevel" asp-items="Html.GetEnumSelectList<TaskMaster.Shared.Dtos.TaskDtos.PriorityLevelDto>()" class="form-control form-select mt-1">
                            <option value="">Choose..</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 d-inline-flex">
                    <div class="col-4 p-1">
                        <span class="text-primary"> Starting</span>
                        <input type="date" class="form-control mt-1" asp-for="UpdateTask.StartingDate">
                    </div>
                    <div class="col-4 p-1">
                        <span class="text-primary"> Duration</span>
                        <input type="text" class="form-control mt-1" asp-for="UpdateTask.Duration">
                    </div>
                    <div class="col-4 p-1">
                        <span class="text-primary"> Finished</span>
                        <input type="date" class="form-control mt-1" asp-for="UpdateTask.FinishedDate">
                    </div>
                </div>
                <div class="col-12 form-group p-1">
                    <span class="text-primary"> Comment</span>
                    <textarea class="form-control mt-1" asp-for="UpdateTask.Comment" rows="3"></textarea>
                </div>
                <div class="btn-group col-12 mt-3">
                    <button type="submit" class="btn btn-success btn-sm text-black"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-page="/ProjectTask/GetProjectTasks" asp-route-id="@Model.ProjectId" class="btn btn-warning btn-sm mx-3"><i class="fa-solid fa-ban"></i><span> Cancel</span></a>
                </div>
            </form>
        </div>
    </div>
</div>
